.addNewProject{
    width: 100%;
}

.newProjectForm{
    width:100%;
    min-height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.newProjectFormInner{
    width: 70%;
}

.newProjectFields{
    margin-top: 15px !important;
}

.createNewProject{
    margin-top: 15px !important;
}

.closeButton{
    position: absolute !important;
    top:15%;
    right: 10%;
}

.loader{
    max-width: 100%;
    min-height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectDisplayHeader{
    display: flex;
    margin-top: 10px;
    padding: 20px;
}

.projectTitle{
    line-height: 0;
}

.addTaskButton{
    margin-left: auto;
}

.taskList{
    padding-right: 10px;
    padding-left: 20px;
}

.taskTitle{
    display: inline-block;
    min-width: 30% !important;
    max-width: 30% !important;
}

.listItemsContainer{
    width: 100%;
}

.assignedTo{
    display: inline-block;
    min-width: 20%;
    max-width: 20%;
    margin-left: 30px;
}

.addTaskPopup{
    background-color: white;
    padding: 20px;
    border: 0.5px solid #BEBFBF;
    border-radius: 4px;
    max-width: 300px !important;
}

.addTaskSelect{
    margin-top: 15px !important;
}

.saveTaskButton{
    display: inline-block !important;
    margin-top: 10px !important;
    width: 100% !important;
}

.newUserEmailLink{
    margin-top: 10px;
}

.status{
    display: inline-block;
    min-width: 20%;
    max-width: 20%;
    margin-left: 30px;
}

.taskListItem{
    border-bottom: 0.5px solid #ABACAC;
}

.displayProjects{
    max-height: calc(100vh - 150px);
}

.projectSaveStatusDialog{
    margin: auto;
    max-width: 50%;
}

.noTaskMessage{
    width: 100%;
    height: calc(100vh - 300px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasksHeader{
    width: 100%;
    margin-bottom: 10px;
}

.taskHeaderTitle{
    display: inline-block;
    min-width: 30% !important;
    max-width: 30% !important;
}

.taskHeaderUser{
    display: inline-block;
    min-width: 20% !important;
    max-width: 20% !important;
    margin-left: 30px;
}

.taskHeaderStatus{
    display: inline-block;
    min-width: 20% !important;
    max-width: 20% !important;
    margin-left: 30px;
}